@{
    ViewData["Title"] = "Aprendiendo Openshift";
}

<div class="text-center">
    <h1 class="display-4">Prueba 2</h1>
    <p> Vean algo mas en <a href="https://docs.microsoft.com/aspnet/core"> echa con  ASP.NET Core</a>.</p>
</div>
